@use "./variables" as *;
@use "./typography";
@use "./mixins";

* {
  box-sizing: border-box;
}
html,
body {
  padding: 0%;
  margin: 0%;
}

body {
  background-color: $white;
}
a{
  text-decoration: none;
}
h1{
  font-family: "AvenirNext LT Pro";
  font-weight: 700;
  font-size: 1.5rem;
}
h2, h3{
  margin-top: 0;
  color: $white;
}
h3{
  font-weight: 400;
}
h2{
  font-weight: 600;
}
span{
  display: block;
}

.nav-bar {
  top: 0;
  display: flex;
  background-color: $bandSite-Black;
  color: $white;
  font-family: "AvenirNext LT Pro";
  font-weight: 600;

  &__links {
    &__link {
      border-radius: 2px;
      text-decoration: none;

      &--current {
        border-bottom: 3px solid $white;
        padding-bottom: 1rem;
      }
    }
  }
}



.footer {
  position: fixed;
  bottom: 0;
  background-color: $bandSite-Black;
  color: $white;
  font-family: "AvenirNext LT Pro";
  font-weight: 600;
  padding:5% 5%;
  width: 100vw;
}

