@use "./variables" as *;
@use "./typography";
@use "./mixins";

* {
  box-sizing: border-box;
}
html,
body {
  padding: 0%;
  margin: 0%;
}

body {
  background-color: $white;
}
a{
  text-decoration: none;
  color: $white;
}
h1{
  font-family: "AvenirNext LT Pro";
  font-weight: 700;
}
h2, h3{
  font-family: "AvenirNext LT Pro";
  margin-top: 0;
  color: $white;
}
h3{
  font-weight: 400;
}
h2{
  font-weight: 600;
}
span{
  display: block;
}
p{
  font-family: "AvenirNext LT Pro";
  font-weight: 400;
}
textarea, input{
  font-family: "AvenirNext LT Pro";
  font-weight: 400;
  color: black;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
  border: 1px solid $mercury;
  width: 100%;
}
input{
  min-height: 2.25rem;
  padding: 0.75rem;
}
textarea{
  min-height: 2.25rem;
  height: 7rem;
  padding: 0.75rem;
}
label{
  font-family: "AvenirNext LT Pro";
  font-weight: 600;
}
button{
  font-family: "AvenirNext LT Pro";
  font-weight: 600;
  background-color: $bandSite-Black;
  color: $white;
  margin-bottom: 1rem;
  border: none;
  border-radius: 0.3rem;
  height: 2.5rem;
  min-width: 9.375rem;
  padding: 0rem 2rem;
}
iframe{
  z-index: 1;
}

.nav-bar {
  top: 0;
  display: flex;
  background-color: $bandSite-Black;
  font-family: "AvenirNext LT Pro";
  font-weight: 600;

  &__links {
    &__link {
      border-radius: 0.125em;
      text-decoration: none;
      font-weight: 400;
      color: $mercury;

      &--current {
        border-bottom: 0.1875rem solid $white;
        padding-bottom: 1rem;
        font-weight: 600;
        color: $white;
      }
    }
  }
}



.footer {
  background-color: $bandSite-Black;
  color: $white;
  font-family: "AvenirNext LT Pro";
  font-weight: 600;
  padding:5% 5%;
  width: 100vw;
  font-size:$mobile-p;
  &__paragraph {
    color: $white;
  }
}

