@use "./variables" as *;

@mixin my-border($radius, $color) {
  border-radius: $radius;
  border: 0.125rem solid $color;
}

/* add tablet and desktop breakpoint mixins */
@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}

@mixin navBarStyles {
  @include commonNavStyles;

  &__links {
    &__link {
      border-radius: 0.125rem;
      text-decoration: none;
      font-size: $mobile-p;

      &--current {
        border-bottom: 0.1875rem solid $white;
        padding-bottom: 1rem;
        font-size: $mobile-p;
      }
    }
  }
  &__header {
    font-family: "AvenirNext LT Pro";
    font-weight: 400;
    color: $white;
    margin: 0;
    font-size: $mobile-sub;
  }
}

@mixin commonNavStyles {
  display: flex;
  background-color: $bandSite-Black;
  color: $white;
  font-family: "AvenirNext LT Pro";
  font-weight: 600;
  padding-top: 1rem;
}

@mixin commonFooterStyles {
  position: relative;
  &__paragraph {
    font-family: "AvenirNext LT Pro";
    font-weight: 400;
    font-size: $mobile-p;
  }
}