$bandSite-Black: #323232;
$silver: #AFAFAF;
$white:  #FFFFFF;
$bandSite-DarkBlack: #000000;
$mercury: #E1E1E1;
$alabaster: #FAFAFA;

$tablet-breakpoint: 48em;
$desktop-breakpoint: 80em;

$mobile-p: 0.813rem;
$mobile-sub: 0.875rem;
$mobile-header: 1.5rem;

$larger-label: 0.75rem;
$larger-p: 0.875rem;
$larger-sub: 1.5rem;
$larger-sect-header: 2.25rem;
$larger-header: 3.75rem;