@use "./partials/globals";
@use "./partials/typography";
@use "./partials/variables" as *;
@use "./partials/mixins" as *;

.nav-bar {
  @include navBarStyles;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  &__links {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    &__link {
      display: flex;
      width: 50%;
      justify-content: center;
    }
  }
  @include tablet {
    @include navBarStyles;
    width: 100vw;
    flex-direction: row;
    padding-left: 2rem;
    &__links {
      justify-content: flex-start;
      width: 100%;
      &__link {
        margin-left: 4rem;
        padding-top: 1rem;
        width: auto;
      }
    }
  }
  @include desktop {
    @include navBarStyles;
    width: 100vw;
    flex-direction: row;
    padding-left: 2rem;
    &__links {
      justify-content: flex-start;
      width: 100%;
      &__link {
        margin-left: 4rem;
        padding-top: 1rem;
        width: auto;
      }
    }
  }
}

.hero {
  background-image: url("../assets/images/hero-bio.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  height: 18vh;
  &__text {
    margin: 0;
    color: $white;
    display: flex;
    align-items: center;
    padding-left: 5%;
  }
  @include tablet {
    height: 25vh;
    &__text {
      font-size: 3.75rem;
    }
  }
  @include desktop {
    height: 35vh;
  }
}

.about {
    padding: 5%;
  &__title {
    color: $bandSite-Black;
  }
  &__img{
    width: fit-content;
  }
  @include tablet {
    &__title {
      font-size: 3.75rem;
    }
  }
  @include desktop {
  }
}

.footer {
  &__paragraph {
    font-family: "AvenirNext LT Pro";
    font-weight: 400;
  }
  &__social {
    &__icons {
      padding-right: 1rem;
    }
  }
  @include tablet {
    padding: 4% 4%;
    &__social {
      &__header {
        display: inline-block;
        padding-right: 1rem;
      }
      &__icons {
        padding-right: 1rem;
      }
    }
    &__contact {
      display: flex;

      &__address {
        padding-right: 5%;
        padding-top: 2%;
        padding-bottom: 2%;
      }
      &__bandsite {
        position: absolute;
        top: 2.5rem;
        right: 4rem;
      }
    }
  }
  @include desktop {
    padding: 4% 10%;
  }
}
